@media screen and (max-width:720px) {

    span.block {
        display: block;
    }

    body {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 500px) {
    span.block {
        display: inline;
    }

    .strong {
        margin: auto;
    }

    .flex> :first-child {
        flex-shrink: 1;
    }

    .flex> :last-child {
        flex-basis: auto;
    }
}

@media screen and (max-width: 400px) {
    .strong {
        font-size: 2rem;
    }
}