@media screen and (max-width:720px) {
    header h1 {
        display: block;
    }

    .flex {
        flex-wrap: wrap;
    }

    .flex> :first-child {
        flex-grow: 1;
        margin: auto;
    }

    .flex> :last-child {
        flex-basis: auto;
    }
}

@media screen and (max-width: 400px) {
    .strong {
        font-size: 2rem;
    }
}