strong {
    color: var(--Yellow)
}

/* introduce */
section#intro {}

#intro .wrap {}

#intro .flex {
    flex-basis: 200px;
    gap: 44px;
    justify-content: center;
}

#intro .flex h2 {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}

#intro .flex>div {
    flex-grow: 1;
    margin: auto;
}

#intro .flex .list-title {
    margin-bottom: 28px;
}

#intro .flex ul {
    margin-bottom: 0;
    list-style-position: inside;
}

#intro .flex ul li {}

#intro article.flex {
    justify-content: right;
    align-content: flex-end;
    gap: 0;

    margin-top: 5vh;
    position: relative;
}

#intro article div.wrap {
    flex-grow: 0.5;
}

#intro article div.wrap p {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}