/* main */
#intro .profile {
    background: url("../images/profile.png") no-repeat center/contain;
}

#intro h3 {
    margin: 0.5rem;
}

#intro ul {
    width: 100%;
}

#project header h3 {
    margin-bottom: 1rem;
}